/* Roboto Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.main-container {
    width: 90%;
    max-width: 470px;
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    /* background: linear-gradient(135deg, #006994, #F4D35E); */
    /* background: linear-gradient(135deg, #67b26f, #4ca2cd); */
    /* background: linear-gradient(135deg, #ff6e7f, #bfe9ff); */
    /* background: linear-gradient(135deg, #4a9961, #265d32); */
    background: linear-gradient(135deg, #8799c0, #70a9a1);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search-box button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search-box img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.invalid {
    text-align: left;
    margin: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.weather {
    display: none;
}